<% include partials/header %>

<h1>Landing Page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nesciunt suscipit vel itaque reprehenderit, cum ipsa nihil sed nostrum veniam aperiam dolorem quibusdam, non voluptate magnam fugit quidem in! Adipisci.</p>

<a href="/campgrounds">View Campgrounds</a>

<% include partials/footer %>